* {
    box-sizing: border-box;
}

.hero-btn {
    margin: 10px;
    font-family: 'Permanent Marker', cursive;
    background-color: grey;
}
.gifs {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    flex: 4;
    overflow: hidden;
    justify-content: space-evenly;
    
}

.image {
    float: left;
    margin: 5px;
    width: 300px;
    height: 250px;
    border-style: solid;
    border-color: black;
}
.rating {
    justify-content: center;
    font-family: 'Permanent Marker', cursive;
 }
.jumbotron {
    text-align: center;
    color: rgb(100, 2, 2);
    background-color: black;
    background-image: linear-gradient( darkblue, rgb(17, 0, 0), white);
    text-shadow: 4px 4px 10px yellow;
    font-family: 'Permanent Marker', cursive; 
    
    
}
h1 {
       font-size: 200px;

}
#add-hero {
    font-family: 'Permanent Marker', cursive;
    background-color: black;
    color: red;
}
.form-group {
    font-family: 'Permanent Marker', cursive;
}

body {
    background-image: url("../assets/images/image5.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    color: black;
    
}